.alternating-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    >li {
        padding: 1rem 0.5rem;
        color: white;

        &:nth-child(2n + 1) {
            background: hsl(0deg 50% 100% / 30%);
        }

        &:nth-child(2n) {
            background: hsl(0deg 50% 100% / 10%);
        }

        &:hover {
            background: hsl(0deg 50% 100% / 40%);
            color: black;
        }

        @media (prefers-color-scheme: light) {
            color: black;

            &:nth-child(2n + 1) {
                background: hsl(0deg 50% 0% / 30%);
            }

            &:nth-child(2n) {
                background: hsl(0deg 50% 0% / 10%);
            }

            &:hover {
                background: hsl(0deg 50% 0% / 40%);
                color: white;
            }
        }
    }
}