*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    line-height: 1.6;
    font-size: calc(1rem + 0.5vw);
    color-scheme: light dark;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: min(75ch, 100% - 2rem);
    margin-inline: auto;
}

a {
    color: deeppink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
}

h2 {
    font-weight: 800;
    font-size: 1.7rem;
}

img {
    display: block;
    background: silver;
}

button,
input,
select {
    font-size: inherit;
    font-family: inherit;
}